body{
    font-family: Quicksand; 
    background-image:url(bgimg2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

div{
    background-color: rgba(0,0,0,0.3);
}

h1{
    color:black;
    font-weight: 500;
    margin:10px;
    text-shadow: 2px 2px gray;
}

button{
    margin:10px;
    font-family: Quicksand;
    font-size: large;
    font-weight:400;
    background-color:#1f4b8e;
    color:#f1ece6;
    width:150px;
    height:40px;
    border:none;
    cursor:pointer;
    opacity: 1;
    transition:0.2s;
}

button:hover{
    opacity: 0.5;
}

#reroll{
    background-color: #1f8c58;
}

.line0, .line1, .line2{
    display:inline-block;
    color:#f1ece6;
    cursor: pointer;
    opacity: 1;
    transition:0.2s;
}

.line0:hover{
    opacity: 0.5;
}

.line1:hover{
    opacity: 0.5;
}

.line2:hover{
    opacity: 0.5;
}

.text{
    color:#f1ece6;
}

hr{
    height:2px;
    border:none;
    background-color: white;
}

.info{
    display:inline-block
}

p{
    margin-right:10px;
}